*{
    margin: 0;padding: 0
}

.row.border-item-checking {
    border: 1px solid;
}

.checking-right-state {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
}
.checking-print {
    padding: 6px 112px;
    letter-spacing: 3px;
    font-size: 1.2rem;
    /* font-weight: 500; */
}

.col-6.checking-left {
    display: flex;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
}

img.checking-img-cdn {
    width: 85%;
}

.col-6.checking-right {
    border: 1px solid;
}

span.checking-item-title {
    font-size: 0.87rem;
    font-weight: 500;
}

p.checking-item-altribute {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    text-align: left;
}

p.checking-item-name {
    /* text-align: center; */
    font-size: 1.5rem;
}

.col-4.nav-item-h {
    background: red;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient( 0deg,#f5f7fa 0%, #c3cfe2 100%);
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.3rem;
    color: #000;
}